$header_height: 40px;
$toolbar_height: 40px;
$formula_height: 30px;
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;
$db-header-height: 64px;
$border_color: #c0c0c0;
$dark-theme-color: #25213f;
$text-color: ghostwhite;
$dark-theme-text-color: #fffec8;